.turbolinks-progress-bar {
  height: 3px;
  background-color: red;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  font-weight: bold;
}

